 <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Newput</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Product', store_index_path %></li>
                    <%# <li><%= link_to 'Cart', line_items_path %>
                    <li><%= link_to 'Cart', cart_path((Cart.ids).last)%></li>
                    <%# <li><a href="#services">Checkout</a></li> %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <%# <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"> <span class="glyphicon glyphicon-log-in"></span> Sign In</a></li> %>
                            <% if user_signed_in? %> 
                             <li><%= link_to 'SignOut', destroy_user_session_path , data: {turbo_method: :delete} %>
                            <% else %>
                              <li><%= link_to 'SignIn', new_user_session_path %></li>
                            <% end %>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
